@page
@model IndexModel
@{
    ViewData["Title"] = "XL-OMS";
}

<div class="text-center">
    @*<h4 class="display-4">OMS 2.0</h4>*@
    <div style="text-align:center;background-color:darkslateblue" > <img width="120" height="80" src="~/img/accordion.JPG" alt="" /></div>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
<table border="1" align="center" class="table0">
    <tr>
        <td width="300">序号</td>
        <td width="300">车种车型车号</td>
        <td width="300">收入日期</td>
        <td width="300">二维码号</td>
    </tr>
    <tr>
        <td width="300">1</td>
        <td width="300">YW25G672526</td>
        <td width="300">2020-03-29</td>
        <td width="300">573-1912224/1912/RD3A1</td>
    </tr>
    <tr>
        <td width="300">2</td>
        <td width="300">YW25G672527</td>
        <td width="300">2020-03-29</td>
        <td width="300">573-1912225/1910/RD3A1</td>
    </tr>
    <tr>
        <td width="300">3</td>
        <td width="300">YW25G672528</td>
        <td width="300">2020-03-31</td>
        <td width="300">573-1912226/1911/RD3A1</td>
    </tr>
    <tr>
        <td width="300">4</td>
        <td width="300">YW25G672526</td>
        <td width="300">2020-03-29</td>
        <td width="300">573-1912224/1912/RD3A1</td>
    </tr>
    <tr>
        <td width="300">5</td>
        <td width="300">YW25G672527</td>
        <td width="300">2020-03-29</td>
        <td width="300">573-1912225/1910/RD3A1</td>
    </tr>
    <tr>
        <td width="300">6</td>
        <td width="300">YW25G672528</td>
        <td width="300">2020-03-31</td>
        <td width="300">573-1912226/1911/RD3A1</td>
    </tr>
    <tr>
        <td width="300">7</td>
        <td width="300">YW25G672527</td>
        <td width="300">2020-03-29</td>
        <td width="300">573-1912225/1910/RD3A1</td>
    </tr>
    <tr>
        <td width="300">8</td>
        <td width="300">YW25G672528</td>
        <td width="300">2020-03-31</td>
        <td width="300">573-1912226/1911/RD3A1</td>
    </tr>
    <tr>
        <td width="300">9</td>
        <td width="300">YW25G672528</td>
        <td width="300">2020-03-31</td>
        <td width="300">573-1912226/1911/RD3A1</td>
    </tr>
</table>
</div>
