@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table border="1" align="center">
        <tr>
            <td width="300">序号</td>
            <td width="300">车种车型车号</td>
            <td width="300">收入日期</td>
            <td width="300">二维码号</td>
        </tr>
    </table>
</div>
